body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-bottom: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  border: 1px solid;
}

table tr:last-child td {
  border-bottom: 1px solid;
}

th {
  background-color: #cfcfcffd;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight {
  background-color: rgb(116, 185, 147);
  font-weight: bold;
}

.datarow {
  cursor: pointer;
}

/* Modal style */
dialog {
  padding: 25px;
  margin: auto;
  background-color: #fafafa;
  border-radius: 5px;
}

dialog::backdrop {
  background: rgba(0,0,0,0.3);
}

/* Card style */
.card {
  display: block;
  padding: 20px;
  background-color: #f0ebe2;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.card li {
  list-style-type: disc;
  padding: 5px;
}

.card li:hover {
  background-color: #e0d5c1;
}

.card ul {
  padding-left: 20px;
  margin-top: 0;
  margin-right: 10px;
}

.card h2 {
  margin-bottom: 30px;
  margin-top: 10px;
}

#restaurant-info h3 {
  margin-bottom: 40px;
}



/* Modal Close-button */
#close-div {
  text-align: right;
}

#close {
  padding: 7px;
  background-color: rgb(236, 236, 236);
  border-radius: 7px;
  font-size: 13px;
}

#close:hover {
  background-color: rgb(218, 218, 218);
}
