body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-bottom: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  border: 1px solid;
}

table tr:last-child td {
  border-bottom: 1px solid;
}

th {
  background-color: #cfcfcffd;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight {
  background-color: rgb(116, 185, 147);
  font-weight: bold;
}

.datarow {
  cursor: pointer;
}

/* Modal style */
dialog {
  padding: 25px;
  margin: auto;
  background-color: #fafafa;
  border-radius: 5px;
}

dialog::backdrop {
  background: rgba(0,0,0,0.3);
}

/* Modal Close-button */
#close {
  padding: 5px;
  background-color: rgb(224, 233, 236);
  border-radius: 7px;
}

#close:hover {
  background-color: rgb(179, 197, 206);
}

