body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15rem;
}

li {
  border: 1px solid #000;
  display: flex;
  justify-content: flex-end;
  line-height: 3rem;
}

label {
  display: block;
  width: 100%;
  padding-left: 1rem;
}

li button {
  width: 2rem;
  height: 3rem;
  padding: auto;
  background-color: rgb(228, 40, 40);
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
}

li input {
  position: absolute;
  margin: 1rem 3rem;
  cursor: pointer;
}

li input[type='checkbox']:checked + label {
  background-color: rgb(146, 208, 136);
  font-weight: bold;
}

.add-btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(212, 218, 253);
}

dialog {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

